<!DOCTYPE html>
<html lang="en" class="no-transition">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}} | AP Playground</title>
  <link href="/css/general.css" rel="stylesheet">
  <link rel="icon" href="/icons/favicon.png">
  <script src="/js/side-nav.js"></script>
</head>

<body>
  <nav class="side-nav">
    <div class="side-nav-background"></div>
    <div class="side-nav-header">
      <div class="side-nav-logo">
        <img src="/icons/logo.svg" alt="AP Playground Logo">
      </div>
      <button class="side-nav-btn">
        <img src="/icons/shrink.svg" class="shrink" draggable="false">
        <img src="/icons/expand.svg" class="expand" draggable="false">
      </button>
    </div>
    <div class="side-nav-links">
      <div>
        <div class="side-nav-tab pages-nav">
          <h2>
            <a href="/">Home</a>
          </h2>
          <h2>
            <a href="/courses">Courses</a>
          </h2>
          <h2>
            <a href="/about">About</a>
          </h2>
        </div>
        <div class="side-nav-tab game-nav">
          <h2>Games:</h2>
          <hr>
          <ul>
            <a href="">123</a>
            <a href="">456</a>
            <a href="">789</a>
          </ul>
        </div>
        <div class="side-nav-tab lesson-nav">
          <h2>{{course.title}}:</h2>
          <hr>
          <ul>
            {{navigation}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <ul class="breadcrumbs">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/courses">Courses</a>
      </li>
      <li>
        <a href="/{{course.slug}}">{{course.title}}</a>
      </li>
      <li>
        <a href="/{{course.slug}}/{{unit.slug}}">{{unit.title}}</a>
      </li>
    </ul>
    <div class="content-block">
      <h1>{{page.title}}</h1>
      <p>{{unit.summary}}<sup>(AP&reg; Biology CED)</sup></p>
    </div>
    <div class="double-content-block">
      <div class="content-block">
        <div class="vocab-header">
          <h2>Vocabulary:</h2>
          <a href="{{lesson.vocab-link}}">Practice &rightarrow;</a>
        </div>
        <ol class="vocab-grid" style="--row-count: {{lesson.vocab-row-count}};--row-count-3: {{lesson.vocab-row-count-3}};">
          {{lesson.vocab}}
        </ol>
      </div>
      <div class="content-block">
        <h2>Resources:</h2>
        <ul class="resources-list">
          {{lesson.links}}
        </ul>
      </div>
    </div>
    <div class="content-block">
      <h2>Videos:</h2>
      {{lesson.videos}}
    </div>
  </main>
</body>

</html>