.content-block.video-block {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: grid;
  align-content: center;
  & .overlay {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 2rem;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
  }
  &.active .overlay {
    opacity: 0;
    pointer-events: none;
  }
}

.module-controls {
  .copy-link:active {
    filter: invert(0.75);
  }
}