#loading {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}

#loading div {
  border-radius: 100%;
  border: 10px solid #eee;
  border-top: 10px solid #45818e;
  aspect-ratio: 1;
  animation: spin 2s linear infinite;
  width: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading p {
  font-size: 20px;
}

#game-container {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  text-align: center;
  
  background-color: black;
  border-radius: 15px;
  border: 1px solid black;
  gap: 1px;
  overflow: hidden;

  & > * {
    background-color: color-mix(in oklab, #45818e 50%, white);
    padding: 3px;
  }
}

@media (max-width: 500px) {
  #game-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    & #game-identifiers {
      order: -1;
    }
    & #game-play-area {
      order: 1;
      min-height: 0;
    }
  }
}

#game-identifiers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  & h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & img {
    max-width: 100%;
    max-height: 300px;
    margin-inline: auto;
  }
}


#submit,
#continue,
#review,
#review-next,
#review-previous {
  width: 100px;
  margin-inline: auto;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

#game-play-area {
  min-height: 250px;
  padding-block: 10px;
  padding-inline: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

div:has(> label) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 5px;
}

#game-date-feedback,
#game-style-feedback,
#game-artist-feedback {
  text-align: left;
  padding-left: 5px;
}

#game-date {
  & div {
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 5px;
  }
  & #game-date-toggle {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
}

input {
  border: 1px solid black;
  &:disabled {
    cursor: not-allowed;
  }
  &.correct {
    background-color: color-mix(in oklab, limegreen 75%, white);
  }
  &.almost-correct {
    background-color: color-mix(in oklab, yellow 75%, white);
    text-decoration: line-through;
  }
  &.incorrect {
    background-color: color-mix(in oklab, red 75%, white);
    text-decoration: line-through;
  }
}

#game-location {
  position: relative;
  & #game-location-map {
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  & #game-location-container {
    position: relative;
    display: grid;
  }
  & #game-location-selection {
    position: absolute;
    width: 0;
    height: 0;
    display: none;
    align-items: end;
    justify-content: center;
    & img {
      width: 20px;
      pointer-events: none;
      user-select: none;
    }
  }
  & #game-location-correct {
    position: absolute;
    width: 0;
    height: 0;
    display: none;
    align-items: end;
    justify-content: center;
    & img {
      width: 20px;
      user-select: none;
    }
  }
}

#game-feedback {
  min-height: 250px;
  display: none;
  align-content: center;
  order: -1;
  justify-content: center;
  & #game-score {
    margin-top: 0;
  }
}