<nav class="side-nav">
  <div class="side-nav-background"></div>
  <div class="side-nav-header">
    <div class="side-nav-logo">
      <img src="/icons/logo.svg" alt="AP Playground Logo">
    </div>
    <button class="side-nav-btn">
      <img src="/icons/shrink.svg" class="shrink" draggable="false">
      <img src="/icons/expand.svg" class="expand" draggable="false">
    </button>
  </div>
  <div class="side-nav-links">
    <div>
      <div class="side-nav-tab">
        <h2><a href="/">Home</a></h2>
      </div>
      <div class="side-nav-tab">
        <h2><a href="/about">About</a></h2>
      </div>
      <hr class="side-nav-divider">
      <div class="side-nav-tab">
        <div class="accordion-header">
          <h2><a href="/courses">Courses</a></h2>
          <button class="accordion-btn"><div></div></button>
        </div>
        <div class="accordion-content">
          <div>
            <hr>
            <ul>
              {{nav.courses}}
            </ul>
          </div>
        </div>
      </div>
      <div class="side-nav-tab">
        <div class="accordion-header">
          <h2><a href="/games">Games</a></h2>
          <button class="accordion-btn"><div></div></button>
        </div>
        <div class="accordion-content">
          <div>
            <hr>
            <ul>
              {{nav.games}}
            </ul>
          </div>
        </div>
      </div>
      <hr class="side-nav-divider">
      <div class="side-nav-tab open">
        <div class="accordion-header">
          <h2><a href="/{{course.slug}}">{{course.title}}</a></h2>
          <button class="accordion-btn"><div></div></button>
        </div>
        <div class="accordion-content">
          <div>
            <hr>
            <ul>
              {{navigation}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<main>
  <header>
    <ul class="breadcrumbs">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/courses">Courses</a>
      </li>
      <li>
        <a href="/{{course.slug}}">{{course.title}}</a>
      </li>
      <li>
        <a href="/{{course.slug}}/{{unit.slug}}">{{unit.title}}</a>
      </li>
    </ul>
    <div class="nav-buttons">
      <a href="{{navigation.previous}}"><button><</button></a>
      <a href="{{navigation.next}}"><button>></button></a>
      <button class="dark-mode-btn"><div></div></button>
    </div>
  </header>
  <div class="content-block intro-block">
    <h1>{{page.title}}</h1>
    <p>{{unit.summary}} <sup>(<a target="_blank" href="{{course.ced}}">{{course.title}} CED</a>)</sup></p>
  </div>
  <div class="double-content-block">
    <div class="content-block">
      <h2>Games:</h2>
      <ul class="games-list">
        {{unit.games}}
      </ul>
    </div>
    <div class="content-block">
      <h2>Resources:</h2>
      <ul class="resources-list">
        {{unit.links}}
      </ul>
    </div>
  </div>
  <div class="content-block">
    <h2>Videos:</h2>
    {{unit.videos}}
    <div class="more-container">
      <div>
        {{unit.more-videos}}
      </div>
    </div>
    <button class="more-btn">
      <span class="more">&darr; More &darr;</span>
      <span class="less">&uarr; Less &uarr;</span>
    </button>
  </div>
  <footer>
    <a href="mailto:dakacorporation2@gmail.com">Contact Us</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2hNIyCBl1jcndz5vX2f5sTx2hDI3-NY_vkbOfJHKgFAnpcA/viewform">Feedback</a>
    <a href="https://www.youtube.com/@ap-playground">Youtube</a>
  </footer>
</main>