<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AP Biology 1.1 | AP Playground</title>
  <link href="/templates/lesson.css" rel="stylesheet">
  <link href="/accordion.css" rel="stylesheet">
  <link rel="icon" href="/favicon.png">
</head>

<body>
  <nav class="side-nav">
    <div class="side-nav-header">
      <div class="side-nav-logo">
        <img src="/svgs/logo.svg" alt="AP Playground Logo">
      </div>
      <button class="side-nav-btn">
        <img src="/svgs/shrink.svg" class="shrink" draggable="false">
        <img src="/svgs/expand.svg" class="expand" draggable="false">
      </button>
    </div>
    <div class="side-nav-tab game-nav">
      <h1>Games:</h1>
      <hr>
      <ul>
        <a href="">123</a>
        <a href="">456</a>
        <a href="">789</a>
      </ul>
    </div>
    <div class="side-nav-tab lesson-nav">
      <h1>Lessons:</h1>
      <hr>
      <ul>

      </ul>
    </div>
  </nav>
  <main>
    123456789
  </main>
  <script src="/templates/lesson.js"></script>
  <script src="/accordion.js"></script>
</body>

</html>