/* General styles */

.select {
  padding: 3px;
  border-radius: 100px;
  font-size: 16px;
  margin-bottom: 3px;
  border-width: 1px;
  background-color: white;
  border-style: solid;
  &:enabled {
    border-color: black;
  }
}

button.select {
  padding-left: 7px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  gap: 10px;
  padding: 3px 7px;
  line-height: 21px;
  &:focus-visible, &:focus, &:focus-within {
    &:enabled form {
      visibility: visible;
    }
  }
}

.dropdown-wrapper {
  position: relative;
  isolation: isolate;
  &:has(button:focus-visible),&:has(button:focus),&:has(button:focus-within) {
    z-index: 1;
  }
}

button.select form {
  box-sizing: border-box;
  display: block;
  visibility: hidden;
  position: absolute;
  background-color: white;
  left: 0;
  width: max-content;
  top: calc(100% + 1px);
  text-align: left;
  padding: 5px 10px 0px 5px;
  border-radius: 10px;
  border: 1px solid #aaa;
  z-index: -1;
  box-shadow: 0 0 25px #00000050;
  & input {
    margin-bottom: 10px;
  }
}


/* Game container styles */

#game {
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
  margin-top: 5px;
  background-color: color-mix(in oklab, #45818e 85%, white);
}

#gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gameInfo {
  font-size: 25px;
  margin-bottom: 2px;
  color: white;
  & span {
    margin-right: 10px;
  }
  &.closed {
    color: rgba(255, 255, 255, 0.5);
  }
}

#gameOverlay {
  inset: -2.5px;
  position: absolute;
  backdrop-filter: blur(5px) brightness(90%);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
}

#playBtn {
  max-height: 100px;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

#gameContainer {
  position: relative;
}


/* Game specific styles */

#matchingBoard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 3px;
  row-gap: 3px;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
  & button {
    border: 1px solid black;
    color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    height: 150px;
    cursor: pointer;
    transition: background-color 200ms, color 2s, filter 2s;
    background-color: white;
    overflow-y: auto;
    &:hover {
      background-color: #eee;
      & img {
        filter: brightness(93%)
      }
    }
    &.selected {
      background-color: #ddd;
      & img {
        filter: brightness(87%)
      }
    }
    &.empty {
      transition: background-color 2s, color 1s, filter 2s;
      color: rgba(0, 0, 0, 0);
      pointer-events: none;
      filter: brightness(75%);
      & img {
        transition: filter 2s, opacity 2s;
        opacity: 0;
      }
    }
    & img {
      max-height: 100%;
      max-width: 100%;
      pointer-events: none;
      transition: filter 200ms, opacity 2s;
    }
    &:has(img) {
      padding: 1px;
    }
  }
}

#sentenceControls {
  display: flex;
  justify-content: end;
  gap: 5px;
  & button{
    width: 40px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled img{
      filter: invert(50%)
    }
  }
}

#prevSentence img {
  rotate: 180deg;
}

.sentence input {
  border: 1px solid black;
  border-radius: 5px;
}

#sentencesBoard {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px 0px;
  padding: 5px;
}

#categoryBoard {
  text-align: center;
}

#categoryCard {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  height: 50px;
  margin: 10px;
  padding: 15px;
  word-wrap: break-word;
  font-size: 16px;
}

#categoryOptions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 3px;
  row-gap: 3px;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
  & button {
    border: 1px solid black;
    color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
    transition: background-color 200ms, color 2s, filter 2s;
    background-color: white;
    &:hover {
      background-color: #eee;
    }
    &:active {
      background-color: #ddd;
    }
  }
}

@media (max-width: 500px) {
  #matchingBoard,
  #categoryOptions {
    grid-template-columns: repeat(4, 1fr);
  }
}

#matchingBoard,
#sentencesBoard,
#categoryBoard {
  overflow-x: auto;
  overflow-y: hidden;
}