select {
  padding: 3px;
  border-radius: 100px;
  font-size: 16px;
  margin-bottom: 3px;
}

#game {
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
  margin-top: 5px;
}

#matchingBoard{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 3px;
  row-gap: 3px;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
  & button {
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
    cursor: pointer;
    transition: background-color 200ms;
    background-color: white;
    &:hover {
      background-color: #eee;
    }
    &.selected {
      background-color: #ddd;
    }
    &.empty {
      background-color: #aaa;
      pointer-events: none;
    }
  }
}

@media (max-width: 500px) {
  #matchingBoard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gameInfo {
  font-size: 25px;
  margin-bottom: 2px;
  & span {
    margin-right: 10px;
  }
  &.closed {
    color: rgba(118, 118, 118, 0.3);
  }
}