body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.container {
  width: 1000px;
  overflow: hidden;
}

img {
  width: 1000px;
  user-select: none;
}

.dotContainer {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotContainer.selected,
.dotContainer:hover,
.dotContainer:focus-within {
  z-index: 100;
}

.dot {
  position: absolute;
  inset: -4.5px;
  border-radius: 10px;
  outline: 2.5px solid black;
  cursor: move;
}

.dotContainer:hover .dot {
  outline-color: red;
}

.dotContainer.selected .dot,
.dotContainer:focus-within .dot {
  outline-color: blue;
}

.label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform-origin: 50% 50%;
  translate: calc(20px * cos(calc(var(--position) * 22.5deg)))
  calc(20px * sin(calc(var(--position) * 22.5deg)));
  rotate: calc(var(--rotation) * 22.5deg);
  justify-items: center;
  transition: scale 0.5s 0.5s;
}

.label.hidden {
  scale: 0;
}

.dotContainer.selected .label,
.dotContainer:hover .label,
.dotContainer:focus-within .label {
  scale: 1;
}

.over-dotContainer {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.over-dot {
  position: absolute;
  inset: -4.5px;
  border-radius: 10px;
  outline: 2.5px solid rgba(255, 0, 0, 0.5);;
  cursor: move;
  pointer-events: none;
}

.over-label {
  color: rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transform-origin: 50% 50%;
  translate: calc(20px * cos(calc(var(--position) * 22.5deg)))
  calc(20px * sin(calc(var(--position) * 22.5deg)));
  rotate: calc(var(--rotation) * 22.5deg);
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
  white-space: nowrap;
}

.rot {
  cursor: pointer;
  display: none;
  font-size: 12px;
  background-color: white;
  text-align: center;
  line-height: 14px;
  width: 14px;
  user-select: none;
}

.rot:nth-child(2) {
  width: 100%;
}

.rot:nth-child(8) {
  width: 100%;
}

.rot:hover {
  color: red;
}

.label:hover .rot {
  display: inline;
}

.input {
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
  background-color: white;
  white-space: nowrap;
}

.title {
  position: absolute;
  margin: 0;
  background-color: white;
  padding: 5px;
  font-size: 35px;
  white-space: nowrap;
}

.text-label {
  position: absolute;
  margin: 0;
  background-color: white;
  padding: 5px;
  font-size: 25px;
  white-space: nowrap;
}

.dotContainer.animated .dot {
  pointer-events: none;
}

.not-visible {
  visibility: hidden;
  pointer-events: none;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.pathContainer:not(.active) {
  pointer-events: none;
}

.pathDot {
  position: absolute;
  width: 9px;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: blue;
  translate: -50% -50%;
  cursor: move;
}

.pathContainer.active .pathDot {
  background-color: orange;
}

.pathDot:nth-child(2) {
  outline: 2.5px solid green;
  background-color: transparent;
}

.pathContainer.active .pathDot:nth-child(2) {
  outline: 2.5px solid red;
  background-color: transparent;
}

.pathDot:last-child {
  outline: 2.5px solid purple;
  background-color: transparent;
}

.pathContainer.active .pathDot:last-child {
  outline: 2.5px solid #f2cc30;
  background-color: transparent;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
  pointer-events: none;
}

svg polyline {
  stroke: blue;
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  marker-end: url()
}

.pathContainer.active svg polyline {
  stroke: orange;
}

#play-btn {
  height: 21.441px;
  line-height: 0;
}

select {
  height: 21.441px;
}

#anim-tools {
  padding-right: 25px;
}

#page-tools {
  padding-right: 25px;
}