body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.container {
  width: 1000px;
  overflow: hidden;
}

img {
  width: 1000px;
  user-select: none;
}


.dotContainer {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  position: absolute;
  inset: -4.5px;
  border-radius: 10px;
  outline: 2.5px solid black;
  cursor: move;
}

.dot:hover {
  outline-color: red;
}

.dot.selected {
  outline-color: blue;
}

.label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform-origin: 50% 50%;
  translate: calc(22.5px * cos(calc(var(--position) * 22.5deg)))
  calc(22.5px * sin(calc(var(--position) * 22.5deg)));
  rotate: calc(var(--rotation) * 22.5deg);
}

.rot {
  cursor: pointer;
  display: none;
  font-size: 12px;
  background-color: white;
  text-align: center;
}

.rot:hover {
  color: red;
}

.label:hover .rot {
  display: inline;
}

.input {
  font-size: 14px;
  padding: 1px;
  background-color: white;
}

.title {
  position: absolute;
  margin: 0;
  background-color: white;
  padding: 5px;
  font-size: 35px;
}

.text-label {
  position: absolute;
  margin: 0;
  background-color: white;
  padding: 5px;
  font-size: 25px;
}

.container {
  --duration: 10
}

.dotContainer.animated {
  transition: top calc(var(--duration) * 1s) linear, left calc(var(--duration) * 1s) linear;
}

.dotContainer.animated .dot {
  color: transparent;
  pointer-events: none;
}