body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.container {
  width: 1000px;
  overflow: hidden;
}

img {
  width: 1000px;
  user-select: none;
}

.dotContainer {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  position: absolute;
  inset: -4.5px;
  border-radius: 10px;
  outline: 2.5px solid black;
  cursor: move;
}

.dot:hover {
  outline-color: red;
}

.dot.selected {
  outline-color: blue;
}

.label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform-origin: 50% 50%;
  translate: calc(20px * cos(calc(var(--position) * 22.5deg)))
  calc(20px * sin(calc(var(--position) * 22.5deg)));
  rotate: calc(var(--rotation) * 22.5deg);
}

.over-dotContainer {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.over-dot {
  position: absolute;
  inset: -4.5px;
  border-radius: 10px;
  outline: 2.5px solid rgba(255, 0, 0, 0.5);;
  cursor: move;
  pointer-events: none;
}

.over-label {
  color: rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transform-origin: 50% 50%;
  translate: calc(20px * cos(calc(var(--position) * 22.5deg)))
  calc(20px * sin(calc(var(--position) * 22.5deg)));
  rotate: calc(var(--rotation) * 22.5deg);
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
  white-space: nowrap;
}

.rot {
  cursor: pointer;
  display: none;
  font-size: 12px;
  background-color: white;
  text-align: center;
}

.rot:hover {
  color: red;
}

.label:hover .rot {
  display: inline;
}

.input {
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
  background-color: white;
  white-space: nowrap;
}

.title {
  position: absolute;
  margin: 0;
  background-color: white;
  padding: 5px;
  font-size: 35px;
  white-space: nowrap;
}

.text-label {
  position: absolute;
  margin: 0;
  background-color: white;
  padding: 5px;
  font-size: 25px;
  white-space: nowrap;
}

.dotContainer.animated .dot {
  pointer-events: none;
}

.not-visible {
  visibility: hidden;
  pointer-events: none;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.pathDot {
  position: absolute;
  width: 9px;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: blue;
  translate: -50% -50%;
  cursor: move;
}

.pathDot:hover:not(:last-child):not(:nth-child(2)) {
  background-color: red;
}

.pathDot:nth-child(2) {
  outline: 2.5px solid green;
  background-color: transparent;
}

.pathDot:nth-child(2):hover {
  outline-color: red;
}

.pathDot:last-child {
  outline: 2.5px solid purple;
  background-color: transparent;
}

.pathDot:last-child:hover {
  outline-color: red;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
  pointer-events: none;
}

svg path {
  stroke: blue;
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  marker-end: url()
}

#play-btn {
  height: 21.441px;
  line-height: 0;
}