* {
  font-family: Arial;
}

body {
  --side-nav-width: 400px;
  --side-nav-btn-diameter: 50px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: var(--side-nav-width) auto;
  transition: grid-template-columns 0.3s ease-in-out;
}

.side-nav {
  & .side-nav-header .side-nav-btn {
    & .shrink {
      display: block;
    }
    & .expand {
      display: none;
    }
  }
  width: var(--side-nav-width);
  transition: width 0.3s ease-in-out;
  display: grid;
}

.side-nav-links {
  padding: 10px;
  background-color: #45818e;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #0005;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #000a;
  }
  height: calc(100vh - var(--side-nav-btn-diameter));
  box-sizing: border-box;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  gap: 20px;
  }
  width: var(--side-nav-width);
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

body.side-nav-closed {
  --side-nav-width: calc(var(--side-nav-btn-diameter) / 2);

  & .side-nav {
    & .side-nav-header {
      .side-nav-btn {
        & .shrink {
          display: none;
        }
        & .expand {
          display: block;
        }
        border-radius: 0 100% 100% 0;
      }
      & .side-nav-logo {
        display: none;
      }
    }
    & .side-nav-links > * {
      display: none;
    }
  }
}

.side-nav-header {
  background-color: lightblue;
  height: var(--side-nav-btn-diameter);
  position: relative;
  width: var(--side-nav-width);
  transition: width 0.3s ease-in-out;
}

.side-nav-logo {
  overflow: hidden;
  padding: 5px;
  & img {
    height: calc(var(--side-nav-btn-diameter) - 10px);
  }
}

.side-nav-btn {
  position: absolute;
  top: 0;
  right: calc(0px - var(--side-nav-btn-diameter)/2);
  background-color: lightblue;
  border: none;
  width: var(--side-nav-btn-diameter);
  aspect-ratio: 1;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(0.65);
  }
  & img {
    opacity: 80%;
  }
  transition: border-radius 0.3s ease-in-out, filter 0.1s linear;
}

.side-nav-tab {
  & h1 {
    margin: 0;
  }
  & hr {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 0;
    border: 1px solid black;
  }
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 5px;
    & a.item {
      margin-left: 10px;
      font-size: 20px;
      font-weight: bold;
    }
    & a.sub-item {
      margin-left: 30px;
    }
  }
}

@media (max-width: 800px) {
  .side-nav {
    position: fixed;
  }
  body {
    display: block;
    --side-nav-width: calc(90vw - var(--side-nav-btn-diameter)/2);
  }
  body.side-nav-closed {
    & .side-nav-header {
      width: calc(var(--side-nav-btn-diameter)/2);
    }
    & .side-nav-links {
      width: 0px;
      padding: 0px;
    }
  }
}


main {
  padding: 20px 40px;
}