.dropdown {
  background-color: gainsboro;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-header {
  height: clamp(40px, 10vw, 50px);
  line-height: clamp(40px, 10vw, 50px);
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  overflow: hidden;
  font-family: Roboto;
  font-size: clamp(18px, 5vw, 24px);
  padding: 0 10px;
  cursor: pointer;
}

.dropdown-contents {
  display: none;
  font-family: Roboto;
  padding: 0px 10px;
}

.dropdown-item {
  padding: 15px 10px;
}

.dropdown-item:not(:last-child) {
  border-bottom: 5px solid rgb(200, 200, 200);
}

.dropdown-item a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.dropdown-item a:hover {
  text-decoration: underline;
}

.dropdown-item p {
  margin: 0;
}

.dropdown:has(.dropdown-header.open) .dropdown-contents {
  display: block;
}