.dropdown {
  background-color: gainsboro;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-header {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-header h1 {
  font-family: Roboto;
}

.dropdown-button {
  height: 100%;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  content: "⯆";
  translate: 0px -2px;
}

.dropdown-contents {
  display: none;
  font-family: Roboto;
  padding: 0px 10px;
}

.dropdown-item {
  padding: 15px 10px;
}

.dropdown-item:not(:last-child) {
  border-bottom: 5px solid rgb(200, 200, 200);
}

.dropdown-item a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.dropdown-item a:hover {
  text-decoration: underline;
}

.dropdown-item p {
  margin: 0;
}

.dropdown:has(.dropdown-button.open) .dropdown-contents {
  display: block;
}