@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --scrollbar: calc(100vw - 100%)
}

body {
  background-color: gainsboro;
  font-family: Roboto;
  margin: 0;
}

main {
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  padding: 30px calc(min(200px, 8vw) - var(--scrollbar)) 30px min(200px, 8vw);
  overflow: hidden;
  isolation: isolate;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 500px) {
  main {
    margin: 0;
    border-radius: 0;
    min-height: calc(100vh - 60px);
  }
}

a {
  color: #437e8a;
}

a:hover {
  color: #cc4125;
}

main > h1 {
  margin: 0;
  font-size: clamp(28px, 8vw, 45px);
  font-family: Kalam;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: clamp(24px, 9vw, 55px);
  overflow-wrap: break-word;
}

main > p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  overflow-wrap: break-word;
}

main > h2 {
  font-family: Kalam;
  font-size: clamp(20px, 6vw, 35px);
  font-weight: bold;
  display: block;
  width: fit-content;
  margin-top: 35px;
  margin-bottom: 0;
  overflow-wrap: break-word;
}

main > h3 {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  display: block;
  overflow-wrap: break-word;
}