@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
}

.header-pc {
  background-color: #45818e;
  height: 60px;
  inset: 0;
  display: flex;
  z-index: 100;
}

.header-pc a {
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: white;
  font-family: Kalam;
  font-size: 22px;
  cursor: pointer;
  line-height: 63px;
}

.header-pc :hover:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.15);
}

.header-pc :first-child {
  display: flex;
  align-items: center;
}

.header-arrow {
  height: 20px;
  vertical-align: middle;
  margin-left: 2px;
  filter: invert(100%);
}

.header-logo {
  height: 50px;
}

.header-mobile {
  inset: 0;
  z-index: 100;
  height: fit-content;
  position: relative;
}

.header-items {
  position: absolute;
  width: 100%;
}

.header-top {
  display: flex;
  background-color: #45818e;
  height: 60px;
  align-items: center;
}

.header-expand {
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  margin-right: 5px;
  background-image: url("/svgs/shrink.svg");
  cursor: pointer;
}

.header-top.hidden .header-expand {
  background-image: url("/svgs/expand.svg");
}

.header-items a{
  display: block;
  text-decoration: none;
  color: white;
  font-family: Kalam;
  font-size: 22px;
  padding: 12px 10px 8px;
  background-color: #45818e;
  border-top: 2px solid black;
}

.header-items :last-child {
  border-bottom: 1px solid black;
}

.header-top.hidden + .header-items {
  display: none;
}

@media (max-width: 500px) {
  .header-pc {
    display: none;
  }
}

@media (min-width: 501px) {
  .header-mobile {
    display: none;
  }
}

.header-dropdown {
  position: absolute;
  left: 0;
  top: 60px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .5s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  width: max-content;
  & div {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: #aaa;
    & a {
      background-color: #aaa;
      font-size: 20px;
      padding: 10px;
      line-height: 30px;
      color: black;
      box-sizing: border-box;
      width: 100%;
      &:hover {
        background-color: #888;
      }
    }
  }
}

.header-pc :has(.header-dropdown) {
  position: relative;
  z-index: 99;
  &:hover {
    & .header-dropdown {
      grid-template-rows: 1fr;
    }
  }
}