@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
}

.header-pc {
  background-color: #45818e;
  height: 60px;
  position: fixed;
  top: 0;
  inset: 0;
  display: flex;
  z-index: 100;
}

.header-pc a {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  cursor: pointer;
}
.header-pc a:hover:not(:has(img)) {
  background-color: rgba(0, 0, 0, 0.15);
}

.header-logo {
  height: 50px;
}

.header-mobile {
  position: fixed;
  top: 0;
  inset: 0;
  z-index: 100;
  height: fit-content;
}

.header-top {
  display: flex;
  background-color: #45818e;
  height: 60px;
  align-items: center;
}

.header-expand {
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.header-items a{
  display: block;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px;
  background-color: #45818e;
  border-top: 2px solid black;
}

.header-items a:last-child {
  border-bottom: 1px solid black;
}

.header-items.hidden {
  display: none;
}

@media (max-width: 500px) {
  .header-pc {
    display: none;
  }
}

@media (min-width: 501px) {
  .header-mobile {
    display: none;
  }
}