@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: gainsboro;
  font-family: Roboto;
  margin: 0;
}

main {
  background-color: white;
  background: repeating-linear-gradient(30deg, #f4f4f4 0px,  white 35px, #f4f4f4 70px);
  position: absolute;
  inset: 10px;
  border-radius: 15px;
  padding-left: min(100px, 6vw);
  overflow: hidden;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  main {
    margin: 0;
    border-radius: 0;
    inset: 0;
  }
}


main h1 {
  margin: 0;
  font-size: min(70px, 13vw);
  font-weight: bold;
}

main h2 {
  margin: 0;
  color: #555;
  margin-bottom: 20px;
  font-size: min(32px, 6vw);
  font-family: Kalam;
}

.search {
  min-height: 310px;
}

.search input {
  padding: min(10px, 2vw);
  font-size: min(30px, 6vw);
  border-radius: 100px;
  width: min(500px, 80vw);
  border: 1px solid black;
}

.search input:focus {
  outline: 1px solid black
}

.search-results {
  background-color: gainsboro;
  width: calc(min(500px, 80vw) - 20px);
  list-style-type: none;
  border: 1px solid black;
  padding: min(10px, 2vw);
  padding-top: 0;
  padding-bottom: 0px;
  margin-left: min(10px, 2vw);
  border-radius: min(16px, 3vw);
  max-height: 250px;
  overflow-y: scroll;
  display: none;
}

.search:focus-within .search-results {
  display: block;
}

.search-results::-webkit-scrollbar {
  width: min(32px, 6vw);
  border-radius: min(16px, 3vw);
  background-color: gainsboro;
  border: 1px solid gray;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 16px;
}

.search-results a:not(.last) {
  border-bottom: 1px solid black;
}

.search-results a {
  padding-bottom: min(10px, 2vw);
  padding-top: min(10px, 2vw);
  font-size: min(16px, 4vw);
  display: block;
  color: black;
  text-decoration: none;
}

.search-results a.unavailable {
  color: gray
}

.search-results a:hover:not(.unavailable) {
  text-decoration: underline;
}

.search-results a.hidden {
  display: none;
}

.cover-image {
  height: min(75%, calc(90vw - 20px));
  aspect-ratio: 1;
  border-radius: 100% 0px 0px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}