* {
  font-family: sans-serif;
}

body {
  background-color: gainsboro;
}

main {
  background-color: white;
  background: repeating-linear-gradient(30deg, #eee 0px,  white 35px, #eee 70px);
  position: absolute;
  top: 70px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding-left: min(100px, 6vw);
  overflow: hidden;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  margin: 0;
  font-size: min(70px, 13vw);
}

main h2 {
  margin: 0;
  color: #555;
  margin-bottom: 20px;
  font-size: min(32px, 6vw);
}

.search {
  min-height: 308.5px;
}

.search input {
  padding: min(10px, 2vw);
  font-size: min(30px, 6vw);
  border-radius: 100px;
  width: min(500px, 80vw);
  border: 1px solid black;
}

.search input:focus {
  outline: 1px solid black
}

.search-results {
  background-color: gainsboro;
  width: calc(min(500px, 80vw) - 20px);
  list-style-type: none;
  border: 1px solid black;
  padding: min(10px, 2vw);
  padding-top: 0;
  padding-bottom: 0px;
  margin-left: min(10px, 2vw);
  border-radius: min(16px, 3vw);
  max-height: 250px;
  overflow-y: scroll;
  display: none;
}

.search:focus-within .search-results {
  display: block;
}

.search-results::-webkit-scrollbar {
  width: min(32px, 6vw);
  border-radius: min(16px, 3vw);
  background-color: gainsboro;
  border: 1px solid gray;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 16px;
}

.search-results a:not(.last) {
  border-bottom: 1px solid black;
}

.search-results a {
  padding-bottom: min(10px, 2vw);
  padding-top: min(10px, 2vw);
  font-size: min(16px, 4vw);
  display: block;
  color: black;
  text-decoration: none;
}

.search-results a.unavailable {
  color: gray
}

.search-results a:hover:not(.unavailable) {
  text-decoration: underline;
}

.search-results a.hidden {
  display: none;
}

.cover-image {
  height: min(75%, calc(90vw - 20px));
  aspect-ratio: 1;
  border-radius: 100% 0px 0px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}