.gridBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  gap: 10px;
  justify-content: center;
}

.gridBody a {
  background-color: lightblue;
  aspect-ratio: 16/9;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 45px;
  font-weight: bold;
  display: grid;
  text-align: center;
  align-items: center;
  background-size: contain;
  border: 2px solid black;
}